aerich==0.9.2
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asyncclick==8.3.0.7
attrs==26.1.0
babel==2.18.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
dictdiffer==0.9.0
discord.py==2.7.1
fastapi==0.136.1
frozenlist==1.8.0
h11==0.16.0
idna==3.13
iso8601==2.1.0
loguru==0.7.3
multidict==6.7.1
propcache==0.4.1
pydantic==2.13.4
pydantic_core==2.46.4
pypika-tortoise==0.6.5
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.0
starlette==1.0.0
stripe==15.1.0
tortoise-orm==0.25.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.46.0
win32_setctime==1.2.0
yarl==1.23.0
